.burguer {
	display: none;
	@include media(sm) {
		display: block;
	}
}

.toggle {
	position: absolute;
	display: block;
	opacity: 0;
	cursor: pointer;
}

.fa-bars {
	display: none;
	color: $dm-color-1;
	font-size: 20px;
}

.fa-times {
	color: $dm-color-1;
	font-size: 20px;
	display: none;
}

#btn-menu:checked ~ .fa-bars {
	display: none;
}

#btn-menu:checked ~ .fa-times {
	display: block;
}

#btn-menu:checked ~ .menu {
	max-height: 65vh;
}
