.text-hover:hover {
	text-decoration: underline;
	text-decoration-style: solid;
	text-decoration-color: $dm-color-2;
	text-underline-offset: 5px;
	text-decoration-thickness: 2px;
}

.btn-hover:hover {
	cursor: pointer;
	background-color: $dm-color-1;
	color: white !important;
}

.active {
	color: $dm-color-grey !important;
}
