body { 
	h1, h2, h3, h4 {
	font-weight: bold; }
}

.dis-n {
	display: none !important;
}

.dis-b {
	display: block !important;
}

.t-align-center {
	text-align: center;
}

.flex-center {
	display: flex;
	align-items: center;
}


