/* TIPOGRAPHY */

$primary_font: "Roboto", sans-serif;
$secondary_font: "Monstserrat", sans-serif;

/* FONT-SIZE */

$font-size-xs: 1rem;
$font-size-s: 1.3rem;
$font-size-ns: 1.5rem;
$font-size-n: 1.8rem;
$font-size-m: 2.5rem;
$font-size-l: 3rem;
$font-size-xl: 3.8rem;

/* COLORS DAY MODE */

$dm-color-1: #572ee5;
$dm-color-1hover: #572ee5 0.6;
$dm-color-2: #50e3c2;
$dm-color-white: #ffffff;
$dm-color-grey: #808080;

/* NIGHT COLOR MODE  */
