.searchbarhead {
	text-align: center;
	margin: 0 auto 30px auto;
	width: 600px;
	font-size: 25px;
	color: $dm-color-1;
	@include media(xs) {
		width: 250px;
		height: 50px;
		font-size: 15px;
		line-height: 1px;
        margin-bottom: 30px;
	} 
	h2 {
		line-height: 35px;
		font-family: $secondary_font;
	}
	span {
		color: $dm-color-2;
	}
}

.searchbarmain {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	@include media(xs) {
		margin-top: 50px;
		img { max-width: 200px;}
	}
	input {
		border-style: none;
		outline: none;
	}
}

.searcher {
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 1px solid;
	border-color: $dm-color-1;
	border-radius: 27px;
	padding: 10px 80px;
	position: relative;
	width: 320px;

	@include media(xs) {
		width: 180px;
		height: 30px;
	}

	.btn-search {
		display: block;
		position: absolute;
		top: 15px;
		right: 40px;
		text-align: center;
		padding-left: 10px;
		font-weight: lighter;
		
	}

	.fa-search { 
		font-size: 20px;
		margin-right: 10px;
		color: $dm-color-1;
	}

	.btn-search:hover {
		cursor: pointer;
	}

	.input-search {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 30px;
		width: 250px;
		z-index: 0;
	}

	.input-search:focus {
		position: relative;
		left: -60px;

		@include media(xs) {
			left: -20px;
		}
	}

	.autocom-box {
		display: block;
		box-sizing: border-box;
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-direction: column;
		list-style: none;
		transition: max-height 0.6s ease-out;

		@include media(xs) {
			width: 180px;
		}

		hr {
			position: absolute;
			width: 400px;
			top: 40px;
			left: 30px;
			margin-bottom: 10px;
			margin-top: 10px;
			border-radius: 1px;
			color: $dm-color-grey;
			opacity: 0.2;

			@include media(xs) {
				width: 50px;
				margin: 10px auto;
			}
		}

		li {
			display: flex;
			align-items: center;
			justify-content: left;
			padding: 5px;
			width: 250px;
			position: relative;
			left: -80px;
			color: $dm-color-grey;
			font-family: $secondary-font;
			font-size: 14px;
			font-weight: 100;

			@include media(sm) {
				width: 200px;
			}

			img {
				margin-right: 15px;
			}
		}
		.item-autocom:hover {
			cursor: pointer;
		}
	}
}

.btn-search-active {
	display: block;
	position: relative;
	right: 425px !important ;

	@include media(sm) {
		right: 390px !important;
	}
}

.times-search {
	display: block !important;
	position: absolute !important;
	top: 15px;
	right: 50px;
}
.times-search:hover {
	cursor: pointer;
}

.search-title {
	text-transform: capitalize;
}

.search-null {
	margin: 0 auto;
	margin-top: -80px;
	padding: 20px;
	h3 {
		font-family: $secondary_font;
		color: $dm-color-2;
	}
}

.search-results {
	font-family: $primary_font;
	color: $dm-color-1;
	hr {
		margin: 0 auto;
		margin-top: 30px;
		margin-bottom: 30px;
		width: 300px;
		border-radius: 1px;
		color: $dm-color-grey;
		opacity: 0.2;

		@include media(sm) {
			width: 300px;
			left: 50px;
			margin: 10px auto;
		}
	}
	.ver-mas {
		font-size: 10px;
		margin: 0 auto;
		padding: 10px;
		border: 1px solid;
		border-radius: 20px;
		color: $dm-color-1;
		width: 70px;
		margin-bottom: 50px;
	}
}

.search-gif-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	column-gap: 5px;
	row-gap: 5px;
	max-width: 60%;
	margin: 50px auto;
	overflow: hidden;

	li {
		height: 200px;
		width: 200px;
		margin: 5px;
		img {
			height: 200px;
			width: 200px;
		}
	}
}

.searchbarbottom {
	font-family: $secondary_font;
	color: $dm-color-1;
	margin-top: -60px;
	h4 {
		margin-top: 20px;
		text-align: center;
		margin-bottom: 20px;
	}
	p {
		margin-top: -10px;
		text-align: center;
		line-height: 30px;
		font-weight: lighter;
	}
	br {
		display: none;
		@include media(sm) {
			display: block;
		}
	}

	hr {
		width: 400px;
		border-radius: 1px;
		color: $dm-color-grey;
		opacity: 0.2;

		@include media(xs) {
			width: 200px;
			margin: 10px auto;
		}
	}
}

.trending-search {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 20px;

	@include media(xs) {
		font-size: 0.8rem;
		padding: 3px; 
		margin: 0 auto; 
		max-width: 350px;
	}

	li {
		font-size: 12px;
		margin-top: -10px;
		list-style: none;
		padding: 5px;
		text-transform: capitalize;
		font-family: $secondary-font;
		font-weight: normal;
	}
	
	
	
}

.trending-search:hover {
	cursor: pointer;
}

.t-item:hover {
	color: $dm-color-2;
}
