.trending {
	margin: 0;
	overflow: hidden;
	padding: 10px;
	width: 100%;
	background: #f3f5f8;
	background-size: cover;

	@include media(xs) {
		height: 400px;
	}
	h2 {
		font-family: $primary_font;
		color: $dm-color-1;
		text-align: center;
	}
	p {
		font-family: $secondary_font;
		color: black;
		font-size: 16px;
		text-align: center;
		line-height: 23px;
	}
	br {
		display: none;
		@include media(xs) {
			display: block;
		}
	}
}

.slider {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 100px;
}

.gif-grid {
	display: inline-block;
	overflow-x: hidden;
	white-space: nowrap;
	max-height: 280px;
	max-width: 1200px;
	margin-right: 40px;
	overflow-y: hidden;
	@include media(xs) {
		display: block;
		white-space: nowrap;
		overflow-x: scroll;
		padding: 0% 5%;
		max-height: 300px;
	}
}

.gif-card {
	display: inline-block;
	position: relative;
	width: 330px;
	height: 270px;
	list-style: none;
	margin-left: 40px;
	margin-right: 40px;
	margin-top: 30px;
	margin-bottom: 60px;
	img {
		width: 330px;
		height: 250px;
	}
	@include media(xs) {
		margin-left: 20px;
	    margin-right: 20px;
		margin: 20px;
		width: 330px;
		height: 250px;
	}
}

.gif-card:last-of-type {
	@include media(xs) {
		margin-right: 50px;
	}
}

.gif-actions {
	position: absolute;
	top: 4px;
	right: 4px;
	i {
		padding: 5px;
		color: $dm-color-1;
		background-color: #ffffff;
		border-radius: 9px;
		opacity: 0.5;
		.fa-heart {
			content: url("");
		}
	}
	i:hover {
		cursor: pointer;
		opacity: 1;
		color: $dm-color-1;
		background: #ffffff;
	}
}
.fa-heart:hover {
	font-weight: 900;
	cursor: pointer;
}

.gif-info {
	color: white;
	position: absolute;
	bottom: 20px;
	left: 15px;
	margin-bottom: -10px;

	p {
		color: white;
		font-family: $secondary_font;
		font-size: 12px;
	}

	@include media(xs) {
		bottom: 50px;
		p {
			font-size: 12px;
		}
	}
}

.gif-user {
	position: absolute;
	bottom: 30px;
	text-align: left;
	font-weight: lighter;
	color: $dm-color-grey;
}

.gif-info,
.gif-actions {
	display: none;
}

.gif-card:hover {
	.gif-info,
	.gif-actions {
		display: block;
	}
}

.hover-div:hover:before {
	content: "";
	display: block;
	position: absolute;
	height: 100%;
	visibility: visible !important;
	top: 0;
	left: 0;
	width: 100%;
	background: $dm-color-1 !important;
	opacity: 0.5;
}

/** Slide Buttons **/

.slide-left,
.slide-right {
	color: $dm-color-1;
	padding: 7px;
	border: 1px solid $dm-color-1;
	@include media(xs) {
		display: none;
	}
}

.slide-left:hover,
.slide-right:hover {
	background: $dm-color-1;
	color: white;
}
